@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

* {
    box-sizing: border-box;
}

body{
    background: url(img/survey.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Poppins',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.toggle-container{
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 200px;
}

.toggle-container{
    font-size: 18px;
    margin: 10px;
}

.toggle {
    visibility: hidden;
}

.label{
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.082);
    backdrop-filter: blur(5px);
    background: radial-gradient(at 50% 0%, rgba(0,0,0,0), rgba(255,255,255, 0.3));
    box-shadow: 20px 20px 30px rgba(0,0,0,0.5);
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;
    width: 80px;
    height: 40px;
    margin: 0 15px 0;
    width: 90px;
    height: 40px;
}

.ball{
    border-bottom: 1px solid rgba(255, 255, 255, 0.082);
    backdrop-filter: blur(5px);
    background: radial-gradient(at 50% 0%, rgba(0,0,0,0), rgba(255,255,255, 0.3));
    box-shadow: 20px 20px 30px rgba(0,0,0,0.5);
    height: 34px;
    width: 34px;
    border-radius: 50%;
    position: absolute;
    top: 2.5px;
    left: 3px;
    align-items: center;
    justify-content: center;
    animation: slideOff 0.3s linear forwards;
}

.ball::before{
    content: '\f00d';
    font-family: 'FontAwesome';
    font-size: 20px;
    color: rgb(253, 72, 27);
    position: absolute;
    top: 7px;
    left: 9px;
}

.toggle:checked + .label .ball{
    animation: slideOn 0.3s linear forwards;
}

.toggle:checked + .label{
    border-bottom: 1px solid rgba(255, 255, 255, 0.082);
    backdrop-filter: blur(5px);
    background: radial-gradient(at 50% 0%, rgba(0,0,0,0), rgba(255,255,255, 0.3));
    box-shadow: 20px 20px 30px rgba(0,0,0,0.5);
}

.toggle:checked + .label .ball::before{
    content: '';
    font-family: 'FontAwesome';
    font-size: 20px;
    color: rgb(41, 175, 0);
    position: absolute;
    top: 7px;
    left: 9px;
}

.toggle:checked + .label .ball#good::before{
    content: '\f00c';
    left: 8px;
}

.toggle:checked + .label .ball#cheap::before{
    content: '\f155';
    left: 12px;
}

.toggle:checked + .label .ball#fast::before{
    content: '\f0e7';
    left: 12px;
}

@keyframes slideOn{
    0%{
        transform: translateX(0) scale(1);
    }
    50%{
        transform: translateX(25px) scale(1.2);
    }
    100%{
        transform: translateX(50px) scale(1);
    }
}

@keyframes slideOff{
    0%{
        transform: translateX(50px) scale(1);
    }
    50%{
        transform: translateX(25px) scale(1.2);
    }
    100%{
        transform: translateX(0) scale(1);
    }
}



